@use '../utils/variables' as *;
%section-content {
  width: 100vw;
  height: 100vh;
  padding-top: 245px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: start;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
}
%section-content__title {
  font-family: $title-font;
  font-size: $title-size;
  font-weight: 800;
}
%section-content__title-purple {
  @extend %section-content__title;
  color: $color-primary;
}
%section-content__title-white {
  @extend %section-content__title;
  color: $color-clean;
}
%description-content {
  padding: 30px 0;
  font-family: $base-font-regular;
  font-size: $text-size;
}
%description-content--white {
  @extend %description-content;
  color: $color-clean;
}
%description-content--gray {
  @extend %description-content;
  color: $color-gray;
}
