$color-primary: #5a189a;
$color-secondary: #f20089;
$color-clean: #fff;
$color-clean-gray: #e0e0e0;
$color-gray: #4f4f4f;
$title-font: 'basement_grotesqueblack', sans-serif;
$base-font-light: 'interlight';
$base-font-bold: 'interextrabold';
$base-font-regular: 'interregular';
$big-title-size: 4.8rem;
$title-size: 3.6rem;
$text-size: 1.4rem;
