// @import '../../fonts/stylesheet.css';

$color-primary: #5a189a;
$color-secondary: #f20089;
$color-cleanPink: rgba(242, 0, 137, 0.2);
$color-clean: #fff;
$color-secondary-clean: #e6b3dc;
$color-clean-gray: #e0e0e0;
$color-gray: #4f4f4f;
$color-secondGray: #828282;
$color-secondPurple: #632e96;
$color-cleanPurple: #7944ac;
$title-font: 'basement_grotesqueblack', sans-serif;
$base-font-light: 'interlight', sans-serif;
$base-font-bold: 'interextrabold';
$base-font-regular: 'interregular', sans-serif;
$big-title-size: 4.8rem;
$title-size: 3.6rem;
$little-title-size: 2.4rem;
$text-size: 1.4rem;
$text-shadow-enabled: 0 0 10px rgb(243, 31, 151, 1),
  0 0 20px rgb(243, 31, 151, 1), 0 0 40px rgb(243, 31, 151, 1),
  0 0 80px rgb(243, 31, 151, 1), 0 0 120px rgb(243, 31, 151, 1);
$text-shadow-disabled: 0 0 10px rgb(243, 31, 151, 0),
  0 0 20px rgb(243, 31, 151, 0), 0 0 40px rgb(243, 31, 151, 0),
  0 0 80px rgb(243, 31, 151, 0), 0 0 120px rgb(243, 31, 151, 0);
$skill-cards-shadow: -2px 3px 10px rgba(90, 24, 154, 0.49);
