@use '../utils/' as utils;

.cat {
  transform: translateY(70px);
  transition: ease-in-out 1s;
  -webkit-transform: translateY(70px);
  -moz-transform: translateY(70px);
  -ms-transform: translateY(70px);
  -o-transform: translateY(70px);
  -webkit-transition: ease-in-out 1s;
  -moz-transition: ease-in-out 1s;
  -ms-transition: ease-in-out 1s;
  -o-transition: ease-in-out 1s;
  &--visible {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.bongoCat {
  // position: relative;
  // z-index: 90;
  width: 100vw;
  height: 21vh;
  margin-top: -10vh;
  @include utils.respond-to(utils.$breakPoint-desktop) {
    margin-top: 10vh;
    height: 24vh;
  }
  @include utils.respond-to(utils.$breakPoint-large) {
    margin-top: 0;
    height: 40vh;
  }
}

.pawLeftUp {
  display: none;
  &.active {
    display: block;
  }
}
.pawLeftDown {
  display: none;
  &.active {
    display: block;
  }
}
.pawRightUp {
  display: none;
  &.active {
    display: block;
  }
}
.pawRightDown {
  display: none;
  &.active {
    display: block;
  }
}
