@use '../utils/' as utils;
.backgroundPortfolio {
  width: 100vw;
  height: 90vh;
  @include utils.respond-to(utils.$breakPoint-tablet) {
    width: 90vw;
    height: 90vh;
    padding-left: 10vw;
  }
  @include utils.respond-to(utils.$breakPoint-desktop) {
    width: 100vw;
    height: 100vh;
    padding-left: 50%;
  }
}
