@use '../utils/' as utils;

.emailForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 20px;
  gap: 30px;
  box-sizing: border-box;
  &__title {
    font-family: utils.$title-font;
    color: utils.$color-primary;
  }
  label {
    color: utils.$color-primary;
    font-family: utils.$base-font-light;
    width: 100%;
    font-size: 1.6rem;
    // font-weight: bold;
  }
  input {
    font-family: utils.$base-font-regular;
    all: unset;
    font-size: 1.4rem;
    padding-top: 10px;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid utils.$color-gray;
    caret-color: utils.$color-secondary;
    box-sizing: border-box;
    color: utils.$color-gray;
    // caret-width: 10px;
    &:focus {
      border-bottom: 2px solid utils.$color-secondary;
    }
  }
  textarea {
    all: unset;
    font-family: utils.$base-font-regular;
    color: utils.$color-gray;
    box-sizing: border-box;
    padding: 5px 0 0 0;
    caret-color: utils.$color-secondary;
    font-size: 1.4rem;
    width: 100%;
    border-bottom: 2px solid black;
    // background-color: utils.$color-clean-gray;
    // word-wrap: normal;
    // word-break: initial;
    word-wrap: break-word;
    // resize: vertical;
    overflow: hidden;
    &:focus {
      height: 100px;
      border-bottom: 2px solid utils.$color-secondary;
    }
  }
  &__buttons {
    display: flex;
    // flex-direction: column;
    // gap: 140px;
    width: 100%;
    justify-content: space-between;

    // width: 360px;
    // height: 100px;
    // overflow: visible;
  }
}
