@use '../utils' as utils;

.svgSwitch {
  $self: &;

  // transform: translateY(50vh);
  width: 419px;
  height: 260px;
  @include utils.respondHeight-to(600px) {
    height: 387px;
  }
  // transition: all 3s ease-in-out;
  // &__front {
  //   transition: all 1s linear;
  //   // fill: utils.$color-clean;
  //   &--bg {
  //     fill: utils.$color-clean;
  //   }
  //   &--fillStroke {
  //     fill: utils.$color-clean-gray;
  //   }
  //   &--stroke {
  //     fill: utils.$color-clean-gray;
  //     stroke: utils.$color-clean-gray;
  //   }
  //   &--stroke-2 {
  //     stroke: utils.$color-clean-gray;
  //   }
  // }
  &__back,
  &__top,
  &__front {
    transition: all 1s linear;
    // fill: utils.$color-clean;
    &--bg {
      fill: utils.$color-clean;
    }
    &--fillStroke {
      fill: utils.$color-clean-gray;
    }
    &--stroke {
      fill: utils.$color-clean-gray;
      stroke: utils.$color-clean-gray;
    }
    &--stroke-2 {
      stroke: utils.$color-clean-gray;
    }
  }
  &.purple {
    #{$self} {
      &__back,
      &__top,
      &__front {
        &--bg {
          fill: utils.$color-cleanPurple;
        }
        &--fillStroke {
          fill: utils.$color-secondPurple;
        }
        &--stroke {
          fill: utils.$color-secondPurple;
          stroke: utils.$color-secondPurple;
        }
        &--stroke-2 {
          stroke: utils.$color-secondPurple;
        }
      }
    }
  }
}
.switchTranslate {
  transition: all 1s ease-in-out;
  transform: translate(calc(50% - 220.45px), 0);
  // transform: translateX(calc(50% - 84.38px));
  // transform: translateY(15px);
  &--active {
    transform: translate(calc(50% - 220.45px), 15px);
    // transform: translateX(calc(50% - 84.38px));
    // transform: translateY(15px);
    // animation: switchTranslate 1s ease-in-out;
  }
}
// @keyframes switchAnimate {
//   0% {
//     transform: translate(calc(50% - 84.38px), 0);
//   }
//   100% {
//     transform: translate(calc(50% - 84.38px), 15px);
//   }
// }
