@use '../utils/' as utils;

.arrowToTopIcon {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 1;
  // background-color: transparent;
  transform: translate(-50%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  @include utils.respondHeight-to(600px) {
    display: block;
  }
}
