@use '../utils' as utils;

.svgSwitch {
  $self: &;

  // transform: translateY(50vh);
  width: 419px;
  height: 260px;
  @include utils.respondHeight-to(600px) {
    height: 387px;
  }
  // transition: all 3s ease-in-out;
  &__front {
  }
  &__back,
  &__top,
  &__front {
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    fill: utils.$color-clean;
    &--stroke {
      fill: utils.$color-clean-gray;
    }
  }
  &.purple {
    #{$self} {
      &__back,
      &__top,
      &__front {
        fill: utils.$color-cleanPurple;
        &--stroke {
          fill: utils.$color-secondPurple;
        }
      }
    }
  }
}
.switchTranslate {
  transition: all 1s ease-in-out;
  transform: translate(calc(50% - 84.38px), 0);
  // transform: translateX(calc(50% - 84.38px));
  // transform: translateY(15px);
  &--active {
    transform: translate(calc(50% - 84.38px), 15px);
    // transform: translateX(calc(50% - 84.38px));
    // transform: translateY(15px);
    // animation: switchTranslate 1s ease-in-out;
  }
}
// @keyframes switchAnimate {
//   0% {
//     transform: translate(calc(50% - 84.38px), 0);
//   }
//   100% {
//     transform: translate(calc(50% - 84.38px), 15px);
//   }
// }
