@use './utils' as utils;
@use './components/' as *;
@use './pages/' as *;
@import '../fonts/fontStyle.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: utils.$base-font-regular;
}
body {
  // position: relative;
  // overflow-x: hidden;
  scroll-behavior: smooth;
}
h1 {
  font-family: utils.$title-font;
}
// body {
//   background-color: utils.$color-primary;
// }
.app {
  overflow: hidden;
}
.slide-fwd-top {
  @extend %slide-fwd-top;
}
.slide-fwd-bottom {
  @extend %slide-fwd-bottom;
}
.title {
  &--container {
    position: relative;
    display: block;
  }
  &--decoration {
    position: absolute;
    bottom: -8px;
    left: -15px;
    @include utils.respond-to(utils.$breakPoint-laptop) {
      transform: scale(2);
      bottom: 8px;
      left: -10px;
    }
  }
}
